<menu class="social-media-share">
    <a href="https://facebook.com/roaet" class="icon-facebook" rel="external" title="My Facebook"></a>
    <a href="https://twitter.com/roaet" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="http://www.linkedin.com/profile/view?id=5072438" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="https://github.com/roaet" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="http://www.youtube.com/roaet" class="icon-youtube" rel="external" title="My YouTube"></a>
</menu>
